<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FlavorSync - Crear Receta</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="/css/panels.css">

<style>
body {
	background-color: #f7f7f7;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	font-weight: 700;
	color: #333;
	margin-bottom: 20px;
	text-align: center;
}

.navbar {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
	border: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
}

.card-header {
	background-color: #495057;
	color: white;
	font-weight: bold;
}

.form-label {
	font-weight: 500;
	color: #495057;
}

.form-control, .form-select {
	border-radius: 8px;
}

.form-range {
	background: #e9ecef;
}

output {
	font-weight: bold;
	color: #007bff;
}

button[type="submit"] {
	background-color: #28a745;
	border-color: #28a745;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 50px;
}

button[type="submit"]:hover {
	background-color: #218838;
}

.select2-container--default .select2-selection--multiple {
	border-radius: 8px;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><i class="fas fa-utensils"></i>
				FlavorSync</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link"
						href="/auth/cook/cookPanel">Home</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/auth/cook/cookPerfil">Mi Perfil</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/auth/cook/cookRecipes">Mis Recetas</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<main class="container mt-5">
		<h1>Crear/Actualizar Receta</h1>
		<form id="registerForm" th:action="@{/auth/cookweb/updateRecipe}"
			method="post">
			<!-- Información General -->
			<div class="card mb-4">
				<div class="card-header">Información General</div>
				<div class="card-body">
					<div class="text-center mb-3" style="position: relative;">
						<!-- Profile image -->
						<img id="profileImage" th:src="${base64Image}"
							style="width: 150px; height: 150px; border-radius: 50%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); object-fit: cover;"
							alt="Profile Image">

						<!-- Change image button -->
						<label id="changeImageLink"
							style="position: absolute; bottom: 10px; right: 10px; background: rgba(255, 255, 255, 0.8); border-radius: 50%; padding: 5px; text-align: center; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); cursor: pointer;">
							<img
							src="https://img.icons8.com/material-outlined/24/000000/camera--v1.png"
							alt="Edit" style="width: 24px; height: 24px;">
						</label>

						<!-- Hidden input for uploading a new image -->
						<input type="file" id="imagenPerfilFile" name="imagenPerfilFile"
							style="display: none;" accept="image/png, image/jpeg"> <input
							type="hidden" id="imagenPerfilBase64" name="imagenPerfilBase64">
					</div>

					<style>
/* Show change link on hover */
#profileImage:hover+#changeImageLink {
	display: block; /* Always show the label since it's not display:none */
}
</style>

					<input type="hidden" id="id" name="id" th:value="${recipe.id}">
					<div class="mb-3">
						<label for="name" class="form-label">*Nombre de la Receta</label>
						<input type="text" class="form-control" id="name" name="name"
							th:value="${recipe.name}" maxlength="100" required>
					</div>

					<div class="mb-3">
						<label for="diners" class="form-label">*Número de
							Comensales</label> <input type="range" class="form-range" id="diners"
							name="diners" min="1" max="10" th:value="${recipe.diners}"
							oninput="document.getElementById('dinersOutput').value = this.value">
						<output id="dinersOutput" th:text="${recipe.diners}"></output>
					</div>

					<div class="mb-3">
						<label for="preparationTime" class="form-label">*Tiempo de
							Preparación (minutos)</label> <input type="range" class="form-range"
							id="preparationTime" name="preparationTime" min="10" max="180"
							step="5" th:value="${recipe.preparationTime}"
							oninput="document.getElementById('prepTimeOutput').value = this.value">
						<output id="prepTimeOutput" th:text="${recipe.preparationTime}"></output>
					</div>

					<div class="mb-3">
						<label for="whereItisDone" class="form-label">*Donde se
							Hace</label> <select class="form-select" id="whereItisDone"
							name="whereItisDone[]" multiple required>
							<option value="Horno"
								th:selected="${recipe.whereItisDone.contains('Horno')}">Horno</option>
							<option value="Microondas"
								th:selected="${recipe.whereItisDone.contains('Microondas')}">Microondas</option>
							<option value="Freidora de Aire"
								th:selected="${recipe.whereItisDone.contains('Freidora de Aire')}">Freidora
								de Aire</option>
							<option value="Plancha"
								th:selected="${recipe.whereItisDone.contains('Plancha')}">Plancha</option>
							<option value="Parrilla"
								th:selected="${recipe.whereItisDone.contains('Parilla')}">Parrilla</option>
							<option value="Estufa"
								th:selected="${recipe.whereItisDone.contains('Estufa')}">Estufa</option>
							<option value="Vaporera"
								th:selected="${recipe.whereItisDone.contains('Vaporera')}">Vaporera</option>
							<option value="Sartén"
								th:selected="${recipe.whereItisDone.contains('Sartén')}">Sartén</option>
							<option value="Olla"
								th:selected="${recipe.whereItisDone.contains('Olla')}">Olla</option>
						</select>
					</div>
				</div>
			</div>

			<!-- Categoría de la Receta -->
			<div class="card mb-4">
				<div class="card-header">Categoría de la Receta</div>
				<div class="card-body">
					<div class="mb-3">
						<label for="category" class="form-label">*Seleccione la
							Categoría</label> <select id="category" name="category[]"
							class="form-select" multiple required>
							<option value="Postre"
								th:selected="${recipe.category.contains('Postre')}">Postre</option>
							<option value="Entrante"
								th:selected="${recipe.category.contains('Entrante')}">Entrante</option>
							<option value="Primer Plato"
								th:selected="${recipe.category.contains('Primer Plato')}">Primer
								Plato</option>
							<option value="Segundo Plato"
								th:selected="${recipe.category.contains('Segundo Plato')}">Segundo
								Plato</option>
							<option value="Aperitivo"
								th:selected="${recipe.category.contains('Aperitivo')}">Aperitivo</option>
							<option value="Bebida"
								th:selected="${recipe.category.contains('Bebida')}">Bebida</option>
							<option value="Sopa"
								th:selected="${recipe.category.contains('Sopa')}">Sopa</option>
							<option value="Ensalada"
								th:selected="${recipe.category.contains('Ensalada')}">Ensalada</option>
						</select>
					</div>
				</div>
			</div>

			<!-- Técnicas y Preparación -->
			<div class="card mb-4">
				<div class="card-header">Técnicas y Preparación</div>
				<div class="card-body">
					<div class="mb-3">
						<label for="listkitchenUtensils" class="form-label">*Utensilios
							de Cocina</label> <select id="listkitchenUtensils"
							name="listkitchenUtensils[]" class="form-control" multiple
							required>
							<option value="Cuchillo"
								th:selected="${recipe.listkitchenUtensils.contains('Cuchillo')}">Cuchillo</option>
							<option value="Sartén"
								th:selected="${recipe.listkitchenUtensils.contains('Sartén')}">Sartén</option>
							<option value="Olla"
								th:selected="${recipe.listkitchenUtensils.contains('Olla')}">Olla</option>
							<option value="Batidora"
								th:selected="${recipe.listkitchenUtensils.contains('Batidora')}">Batidora</option>
						</select>
					</div>

					<div class="mb-3">
						<label for="RecipeTechniques" class="form-label">*Seleccione
							las Técnicas Culinarias</label> <select id="RecipeTechniques"
							name="RecipeTechniques" class="form-control" multiple required>
							<option th:each="technique : ${recipeTechniques}"
								th:value="${technique.id}" th:text="${technique.name}"
								th:selected="${selectedTechniques.contains(technique.id)}">
							</option>
						</select>
					</div>

					<div class="mb-3">
						<label for="instructions" class="form-label">*Instrucciones
							de Preparación</label>
						<textarea class="form-control" id="instructions"
							name="instructions" th:text="${recipe.instructions}" rows="5"
							required></textarea>
					</div>
				</div>
			</div>

			<!-- Dificultad -->
			<div class="card mb-4">
				<div class="card-header">Dificultad</div>
				<div class="card-body">
					<label for="difficulty" class="form-label">*Dificultad</label> <select
						class="form-select" id="difficulty" name="difficulty" required>
						<option value="Fácil"
							th:selected="${recipe.difficulty.contains('Fácil')}">Facil</option>>Fácil
						</option>
						<option value="Intermedia"
							th:selected="${recipe.difficulty.contains('Fácil')}">Intermedia</option>
						<option value="Difícil"
							th:selected="${recipe.difficulty.contains('Fácil')}">Difícil</option>
					</select>
				</div>
			</div>

			<!-- Lista Ingredientes -->
			<div class="card mb-4">
				<div class="card-header">Lista Ingredientes</div>
				<div class="card-body">
					<div class="mb-3">
						<button type="button" class="btn btn-outline-primary"
							id="openModalBtn">Gestionar Ingredientes</button>
					</div>
					<h4>Ingredientes:</h4>
					<ul id="ingredientsListContainer" name="Ingredients"
						th:value="*{Ingredients}">
						<li th:each="ingredient : ${recipe.Ingredients}"
							th:text="${ingredient}"></li>
					</ul>
					<input type="hidden" id="ingredients" name="ingredients">
				</div>

				<div class="mb-3">
					<label for="grades" class="form-label">Notas / Consejos</label>
					<textarea class="form-control" id="grades" name="grades"
						th:text="${recipe.grades}" rows="4"></textarea>
				</div>

				<div class="card mb-3">
					<div class="card-header">Información Nutricional</div>
					<div class="card-body">
						<div class="mb-3">
							<label for="calories" class="form-label">Calorías por
								Porción</label> <input type="number" class="form-control" id="calories"
								name="nutritionalInformation.calories" step="0.01"
								th:value="${recipe.nutritionalInformation?.calories}">
						</div>
						<div class="mb-3">
							<label for="fat" class="form-label">Grasas (g)</label> <input
								type="number" class="form-control" id="fat"
								name="nutritionalInformation.fat" step="0.01"
								th:value="${recipe.nutritionalInformation?.fat}">
						</div>
						<div class="mb-3">
							<label for="carbohydrates" class="form-label">Carbohidratos
								(g)</label> <input type="number" class="form-control" id="carbohydrates"
								name="nutritionalInformation.carbohydrates" step="0.01"
								th:value="${recipe.nutritionalInformation?.carbohydrates}">
						</div>
						<div class="mb-3">
							<label for="proteins" class="form-label">Proteínas (g)</label> <input
								type="number" class="form-control" id="proteins"
								name="nutritionalInformation.proteins" step="0.01"
								th:value="${recipe.nutritionalInformation?.proteins}">
						</div>
						<div class="mb-3">
							<label for="otherNutrients" class="form-label">Otros
								Nutrientes</label> <input type="text" class="form-control"
								id="otherNutrients" name="nutritionalInformation.otherNutrients"
								th:value="${recipe.nutritionalInformation?.otherNutrients}">
						</div>
					</div>
				</div>
				<div class="mb-3">
					<label for="allergensAndDietaryRestrictions" class="form-label">*Seleccione
						los Alérgenos y Restricciones Dietéticas</label> <select
						id="allergensAndDietaryRestrictions"
						name="allergensAndDietaryRestrictions" class="form-control"
						multiple required>
						<option value="gluten"
							th:selected="${recipe.allergensAndDietaryRestrictions.contains('gluten')}">Gluten</option>
						<option value="lactosa"
							th:selected="${recipe.allergensAndDietaryRestrictions.contains('lactosa')}">Lactosa</option>
						<option value="frutos_secos"
							th:selected="${recipe.allergensAndDietaryRestrictions.contains('frutos_secos')}">Frutos
							Secos</option>
						<option value="vegan"
							th:selected="${recipe.allergensAndDietaryRestrictions.contains('vegan')}">Vegan</option>
						<option value="vegetarian"
							th:selected="${recipe.allergensAndDietaryRestrictions.contains('vegetarian')}">Vegetarian</option>
						<option value="sin_gluten"
							th:selected="${recipe.allergensAndDietaryRestrictions.contains('sin_gluten')}">Sin
							Gluten</option>
						<option value="sin_lactosa"
							th:selected="${recipe.allergensAndDietaryRestrictions.contains('sin_lactosa')}">Sin
							Lactosa</option>
					</select>
				</div>
			</div>
			</div>

			<!-- Ubicación -->
			<div class="card mb-4">
				<div class="card-header">Origen Receta</div>
				<div class="card-body">
					<div class="mb-3">
						<label for="history" class="form-label">Historia</label>
						<textarea class="form-control" id="history" name="history"
							th:text="${recipe.history}" rows="4"></textarea>
					</div>

					<div class="mb-3">
						<label for="countrySelect" class="form-label">*País</label> <select
							id="countrySelect" name="country" class="form-control" required>
							<option th:text="*{country}"></option>
						</select>
					</div>

					<div class="mb-3">
						<label for="citySelect" class="form-label">*Ciudad</label> <select
							id="citySelect" name="city" class="form-control" required>
							<option th:text="*{city}"></option>
						</select>
					</div>

					<!-- HTML -->
					<h2 class="h4 text-center">Galería de Imágenes</h2>
					<div id="imageGallery" class="d-flex flex-wrap gap-3">
						<!-- Mostrar imágenes existentes con Thymeleaf -->
						<div th:each="imgSrc, iterStat : ${imageRecipe}"
							class="position-relative img-container">
							<img th:src="${imgSrc}" alt="Imagen de la receta"
								class="img-thumbnail"
								style="max-height: 200px; object-fit: cover;">
							<button type="button"
								class="btn-close position-absolute top-0 end-0 m-1"
								th:onclick="'removeExistingImage(' + ${iterStat.index} + ')'"></button>
						</div>
					</div>

					<div class="text-center mt-3">
						<!-- Botón para añadir imágenes -->
						<button id="addImageButton" type="button"
							class="btn btn-secondary rounded-circle"
							style="width: 50px; height: 50px; font-size: 1.5rem;">+</button>
					</div>

					<!-- Input de archivos oculto -->
					<input type="file" id="recipeImages" multiple class="d-none">
					<!-- Input oculto para almacenar imágenes en Base64 -->
					<input type="hidden" id="recipeImagesBase64"
						name="recipeImagesBase64">

				</div>
			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-primary">Guardar
					Receta</button>
			</div>
		</form>
	</main>

	<!-- Modal for managing ingredients -->
	<div class="modal fade" id="ingredientModal" tabindex="-1"
		aria-labelledby="ingredientModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ingredientModalLabel">Gestionar
						Ingredientes</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h5>Ingredientes Actuales</h5>
					<div id="ingredientList" class="list-group mb-3"></div>

					<h5>Agregar Nuevo Ingrediente</h5>
					<div class="mb-3">
						<label for="newIngredient" class="form-label">Ingrediente</label>
						<input type="text" class="form-control" id="newIngredient">
					</div>
					<button type="button" class="btn btn-outline-secondary"
						id="addIngredientToList">Añadir a la lista</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary"
						id="saveIngredientsBtn">Guardar Cambios</button>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/formRecipe.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

	<script>
		$(document)
				.ready(
						function() {
							$(
									' #category, #whereItisDone, #listkitchenUtensils, #RecipeTechniques, #allergensAndDietaryRestrictions')
									.select2();
						});
		// Rellenar el selector de países
		fetch('https://restcountries.com/v3.1/all')
		    .then(response => response.json())
		    .then(data => {
		        const countrySelect = document.getElementById('countrySelect');
		        data.forEach(country => {
		            const option = document.createElement('option');
		            option.value = country.name.common;
		            option.textContent = country.name.common;
		            countrySelect.appendChild(option);
		        });
		    });

		// Rellenar el selector de ciudades
		document.getElementById('countrySelect').addEventListener('change', function() {
		    const country = this.value;
		    fetch(`https://countriesnow.space/api/v0.1/countries/cities`, {
		        method: 'POST',
		        headers: {
		            'Content-Type': 'application/json'
		        },
		        body: JSON.stringify({ country: country })
		    })
		    .then(response => response.json())
		    .then(data => {
		        const citySelect = document.getElementById('citySelect');
		        const selectedCity = citySelect.getAttribute('data-selected-city'); // Obtener la ciudad seleccionada desde el HTML
		        citySelect.innerHTML = '<option value="">Selecciona una ciudad</option>';
		        
		        if (data.data) {
		            data.data.forEach(city => {
		                const option = document.createElement('option');
		                option.value = city;
		                option.textContent = city;
		                citySelect.appendChild(option);
		            });

		            // Seleccionar la ciudad que se había establecido anteriormente
		            if (selectedCity) {
		                citySelect.value = selectedCity; // Seleccionar la ciudad ya definida
		            }
		        } else {
		            console.error('No se encontraron ciudades para el país seleccionado.');
		        }
		    })
		    .catch(error => console.error('Error al obtener las ciudades:', error));
		});
		function updateDinersValue(value) {
		    document.getElementById('dinersCurrentValue').innerText = value;
		}

		function updatePrepTimeValue(value) {
		    document.getElementById('prepTimeCurrentValue').innerText = value;
		}
		// Función para crear un elemento de ingrediente en el modal
		function createIngredientItem(text) {
		    const ingredientItem = document.createElement('div');
		    ingredientItem.classList.add('list-group-item', 'd-flex', 'justify-content-between', 'align-items-center');
		    ingredientItem.textContent = text;

		    const removeBtn = document.createElement('button');
		    removeBtn.classList.add('btn', 'btn-outline-danger', 'btn-sm');
		    removeBtn.textContent = 'Eliminar';
		    removeBtn.onclick = function () {
		        ingredientItem.remove();
		    };

		    ingredientItem.appendChild(removeBtn);
		    return ingredientItem;
		}

		// Abrir el modal y llenar con los ingredientes actuales
		document.getElementById('openModalBtn').addEventListener('click', function () {
		    const ingredientList = document.getElementById('ingredientList');
		    ingredientList.innerHTML = ''; // Limpiar la lista actual en el modal

		    // Obtener ingredientes de la lista principal y llenar el modal
		    const existingIngredients = Array.from(document.querySelectorAll('#ingredientsListContainer li'));
		    existingIngredients.forEach(item => {
		        const ingredientText = item.textContent.trim();
		        const ingredientItem = createIngredientItem(ingredientText);
		        ingredientList.appendChild(ingredientItem);
		    });

		    // Mostrar el modal
		    const modal = new bootstrap.Modal(document.getElementById('ingredientModal'));
		    modal.show();
		});

		// Añadir nuevo ingrediente a la lista del modal
		document.getElementById('addIngredientToList').addEventListener('click', function () {
		    const newIngredientInput = document.getElementById('newIngredient');
		    const newIngredientValue = newIngredientInput.value.trim();

		    if (newIngredientValue) {
		        const ingredientItem = createIngredientItem(newIngredientValue);
		        document.getElementById('ingredientList').appendChild(ingredientItem);
		        newIngredientInput.value = ''; // Limpiar el input después de añadir
		    } else {
		        alert('Por favor, ingrese un ingrediente válido.');
		    }
		});

		// Guardar ingredientes del modal en la lista principal y llenar el input oculto
		document.getElementById('saveIngredientsBtn').addEventListener('click', function () {
		    const ingredientsListContainer = document.getElementById('ingredientsListContainer');
		    const ingredientsInModal = Array.from(document.querySelectorAll('#ingredientList .list-group-item'));

		    // Limpiar la lista principal y agregar elementos desde el modal
		    ingredientsListContainer.innerHTML = '';
		    const ingredientsArray = []; // Array para almacenar los ingredientes

		    ingredientsInModal.forEach(item => {
		        const ingredientText = item.firstChild.textContent.trim(); // Extraer el texto
		        const listItem = document.createElement('li');
		        listItem.textContent = ingredientText;
		        ingredientsListContainer.appendChild(listItem);
		        
		        ingredientsArray.push(ingredientText); // Agregar al array
		    });

		    // Llenar el input oculto con el array de ingredientes en formato de cadena, sin JSON
		    document.getElementById('ingredients').value = ingredientsArray.join(", ");

		    // Cerrar el modal
		    const modal = bootstrap.Modal.getInstance(document.getElementById('ingredientModal'));
		    modal.hide();
		});
		document.addEventListener('DOMContentLoaded', function() {
		    const changeImageLink = document.getElementById('changeImageLink');
		    const imagenPerfilFile = document.getElementById('imagenPerfilFile');
		    const profileImage = document.getElementById('profileImage');
		    const imagenPerfilBase64 = document.getElementById('imagenPerfilBase64');

		    // Click event to trigger file input
		    changeImageLink.addEventListener('click', function(event) {
		        event.preventDefault(); // Prevent default behavior
		        imagenPerfilFile.click(); // Trigger the file input click
		    });

		    // Change event for file input
		    imagenPerfilFile.addEventListener('change', function(event) {
		        const file = event.target.files[0]; // Get the selected file
		        if (file) {
		            const reader = new FileReader(); // Create a FileReader
		            reader.onload = function(e) {
		                const img = new Image();
		                img.src = e.target.result; // Set the image source to the file's result
		                img.onload = function() {
		                    const canvas = document.createElement('canvas'); // Create a canvas
		                    const maxSize = 300; // Maximum size for both width and height
		                    let { width, height } = img; // Get original dimensions

		                    // Calculate new dimensions maintaining aspect ratio
		                    if (width > height) {
		                        if (width > maxSize) {
		                            height = Math.round((maxSize / width) * height);
		                            width = maxSize;
		                        }
		                    } else {
		                        if (height > maxSize) {
		                            width = Math.round((maxSize / height) * width);
		                            height = maxSize;
		                        }
		                    }

		                    canvas.width = width; // Set canvas width
		                    canvas.height = height; // Set canvas height

		                    // Draw the image on the canvas
		                    const ctx = canvas.getContext('2d');
		                    ctx.drawImage(img, 0, 0, width, height);

		                    // Get the compressed image in base64 format
		                    const compressedBase64 = canvas.toDataURL('image/jpeg', 0.7); // Quality at 70%

		                    // Store the base64 image without the prefix
		                    imagenPerfilBase64.value = compressedBase64.split(',')[1];

		                    // Update the displayed profile image
		                    profileImage.src = compressedBase64;
		                };
		            };
		            reader.readAsDataURL(file); // Read the file as a Data URL
		        }
		    });
		});
		let base64Images = [];

		// Función para inicializar las imágenes precargadas
		function initializePreloadedImages() {
			const preloadedImages = document.querySelectorAll('#imageGallery .img-thumbnail');
			preloadedImages.forEach((imgElement) => {
				const src = imgElement.getAttribute('src');
				const base64Data = src.includes("base64") ? src.split(",")[1] : src;
				base64Images.push(base64Data);
			});
			updateHiddenInput();
		}

		initializePreloadedImages(); // Llama a la función al cargar la página

		// Función para actualizar el input oculto con el contenido actual de base64Images
		function updateHiddenInput() {
			document.getElementById('recipeImagesBase64').value = base64Images.join(',');
		}

		// Función para eliminar imágenes existentes
		function removeExistingImage(index) {
			base64Images.splice(index, 1); // Remover de la lista base64
			document.querySelector(`#imageGallery .img-container:nth-child(${index + 1})`).remove();
			updateHiddenInput();
		}

		// Evento para abrir el selector de archivos al hacer clic en el botón "+"
		document.getElementById('addImageButton').addEventListener('click', function() {
			document.getElementById('recipeImages').click();
		});

		// Procesamiento de imágenes nuevas
		document.getElementById('recipeImages').addEventListener('change', function(event) {
			const files = event.target.files;

			Array.from(files).forEach((file) => {
				if (file) {
					const reader = new FileReader();
					reader.onload = function(e) {
						const img = new Image();
						img.src = e.target.result;
						img.onload = function() {
							const canvas = document.createElement('canvas');
							const maxWidth = 300;
							const maxHeight = 300;
							let width = img.width;
							let height = img.height;

							if (width > height && width > maxWidth) {
								height = Math.round((maxWidth / width) * height);
								width = maxWidth;
							} else if (height > maxHeight) {
								width = Math.round((maxHeight / height) * width);
								height = maxHeight;
							}

							canvas.width = width;
							canvas.height = height;
							const ctx = canvas.getContext('2d');
							ctx.drawImage(img, 0, 0, width, height);

							const compressedBase64 = canvas.toDataURL('image/jpeg', 0.7);
							const imageBase64Data = compressedBase64.split(',')[1];
							base64Images.push(imageBase64Data); // Añadir la nueva imagen a la lista base64
							updateHiddenInput();

							// Agregar nueva imagen a la galería
							const imgContainer = document.createElement('div');
							imgContainer.classList.add('position-relative', 'img-container');

							const imgElement = document.createElement('img');
							imgElement.src = compressedBase64;
							imgElement.alt = "Imagen de la receta";
							imgElement.classList.add('img-thumbnail');
							imgElement.style.maxHeight = '200px';
							imgElement.style.objectFit = 'cover';

							const deleteButton = document.createElement('button');
							deleteButton.classList.add('btn-close', 'position-absolute', 'top-0', 'end-0', 'm-1');
							deleteButton.onclick = function() {
								const index = base64Images.indexOf(imageBase64Data);
								if (index > -1) {
									base64Images.splice(index, 1);
									updateHiddenInput();
								}
								imgContainer.remove();
							};

							imgContainer.appendChild(imgElement);
							imgContainer.appendChild(deleteButton);
							document.getElementById('imageGallery').appendChild(imgContainer);
						};
					};
					reader.readAsDataURL(file);
				}
			});

			event.target.value = ''; // Limpiar el input
		});
	</script>
</body>
</html>
